.main{
    section{
        .cajaCarrito{
            margin-top: 50px;
            font-size: 1rem;
            text-align: center;
            margin: auto;
            button{
                margin-top: 30px;
            }
        }
    }
}

@media (min-width: 768px){
    .main{
        section{
            .cajaCarrito{        
                margin-top: 100px;
            }
        }
    }
}

@media (min-width: 1200px){
    .main{
        section{
            .cajaCarrito{        
                margin-top: 100px;
            }
        }
    }
}