.main{
    .section-form-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-width: 5px;
        font-size: 3rem;
        margin: 50px;
        label{
            margin: 10px 0px;
            font-size: 1.2rem;
        }
        input{
            width: 200px;
            height: 20px;
        }
        .phone1{
            width: 60px;
        }
        .phone2{
            width: 120px;
        }
        .message{
            width: 200px;
            height: 100px;
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 768px){
    .main{
        .section-form-contact{
            label{
                margin: 10px 0px;
                font-size: 1.2rem;
            }
            input{
                width: 600px;
                height: 20px;
            }
            .phone1{
                width: 100px;
            }
            .phone2{
                width: 500px;
            }
            .message{
                width: 600px;
                height: 100px;
                margin-bottom: 20px;
            }
        }
    }
}

@media (min-width: 1200px){
    .main{
        .section-form-contact{
            label{
                margin: 10px 0px;
                font-size: 2rem;
            }
            input{
                width: 1000px;
                height: 30px;
            }
            .phone1{
                width: 200px;
            }
            .phone2{
                width: 790px;
            }
            .message{
                width: 1000px;
                height: 100px;
                margin-bottom: 20px;
            }
        }
    }
}