.main{
    .section-form-cuenta{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;        
        text-align: center;
        font-size: 2rem;
        div{
            margin: 50px;
            .cajaIniciar{
                display: flex;
                flex-direction: column;
                label{
                    margin: 10px;
                }
            }
            
            .cajaRegistrar{
                display: flex;
                flex-direction: column;
                label{
                    margin: 10px;
                }
            }
            h3{
                margin-bottom: 10px;
                font-size: 2rem;
            }
            label{
                font-size: 1rem;
            }
            button{
                margin-top: 10px;
            }
        }
        
    }
}

@media (min-width: 768px){
    .main{
        .section-form-cuenta{
            div{
                .cajaIniciar{
                    label{
                        font-size: 1.5rem;
                    }
                }

                .cajaRegistrar{
                    label{
                        font-size: 1.5rem;
                    }
                }

                h3{
                    font-size: 4rem;
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .main{
        .section-form-cuenta{
            h3{
                font-size: 5rem;
            }
            .cajaIniciar{
                label{
                    font-size: 2rem;
                }
            }
            .cajaRegistrar{
                label{
                    font-size: 2rem;
                }
            }
        }
    }
}
