a:visited{
    color: white;
}

a:hover{
    color: red;
}

.navegador{
    background-color: #261C2C;

    .navBar{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 0.8rem;
        padding: 0;
        margin: 0;

        a{
            text-decoration: none;
            padding: 5px;
            font-size: 1.5rem;
        }
    }

    .imgNavbar{
        text-align: center;    
        margin: 0;
        margin-bottom: 20px;

        .efectoLogo{
            &:hover{
                transform:scale(1.05);
                transition: 1s;
            }
        }
    }
}

@media (min-width: 768px){
    .navegador{
        .navBar{
            li {
                font-size: 1.15rem;
                a{
                    padding: 8px;
                }
            }
        }
    }

    a:hover{
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px){
    .navegador{
        .navBar{
            li{
                font-size: 1.5rem;
                a{
                    padding: 10px;
                }
            }
        }
    }
}